 /* •	Get text fonts from google : https://fonts.google.com/ then we use it below in font-family*/

/* FONT */
/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap'); avoid import*/

/* vietnamese */
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlnC_W6EQ.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlnC_W6EQ.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlnC_W6EQ.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlnC_W6EQ.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlnC_W6EQ.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


/* END FONT */
:root {
	--BGcolor-0:#fff;
	--main-color: #485563;
	--second-color: #29323c;
	--third-color:#485563;
	--fourth-color:rgb(226, 231, 245, 0.9);
	--fifth-color: #29323c;
	--sixth-color:#485563;

	--span-color:#B8020D;
	--text-color1: black;
	--text-color2: #fff;
	--text-color3: #222222;
	--textHover-color1:#fff;

	--hamburger-color:#fff;
	--hamburgerMenu-color:rgb(31, 30, 30);
	--listMenu-color:rgb(238, 226, 226);
	--listMenuHover-color: rgba(240, 248, 255, 0.071);

	--buttonTextMain-color:#fff;
	--buttonBorderMain-color:#fff;
	--buttonBGMain-color:#fff;
	--buttonBGSecond-color:#29323c;
	--buttonBGThird-color:#485563;
	--buttonBG-transparent:transparent;

	--spinner-color: #333;
}
  
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Dosis', sans-serif;
	scroll-behavior: smooth; 
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: var(--text-color1);
	font-size: 16px;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 400;
	letter-spacing: .07rem;
	text-align: justify;
	word-spacing: 0.4rem;
}
.section-title{
	font-size: 40px;
	font-weight: 500;
	color: var(--text-color1);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-align: center;
	word-spacing: 0.4rem;
}

.section-title span {
	color: var(--span-color);
}

#services .service-bottom .span {
	color: var(--text-color3);
}

.logo {
/* 	border: 4px solid black; */
	background: url(./img/Original.svg) no-repeat;
	display: block;
	position: relative;
	background-size: contain;
	margin:10px;
	min-height: 8vh;
	min-width: 10vh;
}

.logo:hover {
	cursor: pointer;
	}

.brand h1 {
	font-size: 30px;
	text-transform: uppercase;
	color: var(--text-color2);
	font-weight: 500;
	letter-spacing: 0.2rem;
	word-spacing: 0.4rem;
}
.brand h1 span {
	color: var(--span-color);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw; 
	height: auto;
}

.active {

	min-height: 8vh;
	background-color:var(--main-color);
	opacity: 0.98;
	transition: 0.5s ease background-color; 
}

.hidden {
	min-height: 8vh;
	transition:.3s ease background-color; 
}

#header .clock1 {
	padding: 15px;
}

#header .clock {
	margin-top: 0;
	font-size: 12px;
	color: var(--text-color2);

}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: var(--hamburgerMenu-color);
	width: 100vw; 
	height: 100vh;
	top: 0; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform-origin: right;
	z-index: 1;
}
#header .nav-list ul.active {
	left: 10%;
	animation: menuOpened 0.6s ease forwards;
}

#header .nav-list ul.close {
	left: 10%;
	animation: menuClosing 0.8s ease forwards;
}

#header .nav-list ul a {
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: .2rem;
	text-decoration: under;
	color:  var(--listMenu-color);
	text-transform: uppercase;
	padding: 20px;
	display: block;
	top: 0;
}
#header .nav-list ul a::after { 
	content: attr(data-after);
	position: absolute;
	top: 45%; 
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: var(--listMenuHover-color);
	font-size: 5rem; 
	letter-spacing: 50px;
	z-index: -1;
	transition: .5s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, 0%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: var(--textHover-color1);
	opacity: 1;
}
#header .hamburger { 
	height: 60px;
	width: 60px;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100; 
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white; 
	animation: puls 1.5s ease infinite; 
}
#header .hamburger .bar { 
	height: 2px;
	width: 30px;
	position: relative;
	background-color: var(--hamburger-color);
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before { 
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: var(--hamburger-color);
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before { 
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */

.cta_hero {
	display: inline-block; 
	padding: 10px 30px;
	color: var(--buttonTextMain-color);
	background-color: var(--buttonBG-transparent);
	border: 1px solid var(--buttonBorderMain-color);
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 1.6rem;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .6s ease;
	transition-property: background-color, color;
}
.cta_hero:hover {
	color:var(--third-color);
	background-color:var(--buttonBGMain-color); 
	opacity: 0.9;
}

#hero {
	min-height: 90vh;
	background-image: url(./img/9.jpg);
	background-size: cover;
	background-position: 25% 90%;
	position: relative; 
	z-index: 1;
 	clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
}


#hero canvas { 
	display: inline-block;
	position: absolute;
	border: 1px solid transparent;
	height: 100%;
	width: 100%;  
	z-index: -1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color:var(--third-color);
	opacity: .7;
	z-index:-1;
}
#hero .hero { 
	min-height: 90vh;
	max-width: 1200px; 
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero .hero .myname { 
	margin-top: 70px;
}

#hero h1 {
	font-size: 4rem;
	display: block;
	width: fit-content;
	position: relative;
	color: transparent; 
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
	

}


#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards; 
	animation-delay: 3s;
}
#hero h1 span { 
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%; 
	background-color:var(--second-color);
	animation: text_reveal_box 1s ease; 
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Services Section */
#services .services {

	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 25px;
	
}

#services .services .section-title {
	margin-bottom: 30px;
}

#services .service-top {
	max-width: 600px;
	margin: 0 auto;
}

#services .service-top p {
	text-align: center;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	position: relative;
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height:310px;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	background-size: cover;
	margin: 10px 5%;
	z-index: 1;
	overflow: hidden;
}
#services .service-itemBG {
	position: absolute;
	justify-content: center;
	height: 100%;
	width: 100%;
	left: 0;
	padding: 60px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	opacity: 0.7;
	background-size: cover;
	z-index: -2;
	overflow: hidden;
}

#services .service-itemBG::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, var(--third-color) 0%, var(--third-color) 100%);
	opacity: .75;
	z-index: -3;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	background-image: linear-gradient(60deg, var(--third-color) 0%, var(--third-color) 100%);
	z-index: -1;
	animation: servicesFadeOut .3s ease;
	animation-fill-mode: forwards;
}

#services .service-item:hover::after {

	animation: servicesFadeIn .35s ease;
	animation-fill-mode: forwards;
} 

#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
	opacity: 0.75;
}
#services .service-item h2 {
	font-size: 2rem;
	color: var(--text-color2);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: left;
}

#services .service-item p {
	color: var(--text-color2); 
	text-align: left;
	font-size: 16px;
	text-align: justify;
	
}

/* End Services Section */

/* Skill img */
.skillBG-img {
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url(./img/coding.jpg);
	background-attachment: fixed;
	background-size: cover;
	clip-path: polygon(0 3.5%, 100% 0%, 100% 96.5%, 0 100%);
	
}

/* End Skill-img */

/* skills Section */

#skills .skills { 
	background-color: var(--fourth-color);
	clip-path: polygon(0 3.5%, 100% 0%, 100% 96.5%, 0 100%);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 150px 25px;
	padding-bottom: 100px;
}

#skills .skills-top .section-title{
	margin-bottom: 30px;
	margin-top: -55px;
}

#skills .skills-top {
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	
}

#skills .skills-top p {
	text-align: center;
}

#skills .skills-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

 #skills .skills-item{
	display: flex;
	align-items: flex-start;
	flex-basis: 80%;
	flex-direction: column;
	align-items: center;
	max-width: 1500px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	padding: 20px;
	
} 


#skills .skills-item .html{
	background: url(./img/icons8-html-5.svg) no-repeat;
	background-size: cover;
	position: relative;
	min-height: 120px;
	min-width: 120px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}


#skills .html-text{
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
} 

#skills .skills-item .html:hover::after { 
	position: absolute;
	content: '';
	border-radius: 50%;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 4px 8px #0000002c;
	animation: puls 2s ease infinite ; 
	animation-iteration-count: 1;
}


#skills .skills-item .css{ 
	background: url(./img/icons8-css3.svg) no-repeat;
	background-size: cover;
	position: relative;
	min-height: 120px;
	min-width: 120px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

#skills .css-text{
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

#skills .skills-item .css:hover::after { 
	position: absolute;
	content: '';
	border-radius: 50%;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 4px 8px #0000002c;
	animation: puls 2s ease infinite ; 
	animation-iteration-count: 1;
}

#skills .skills-item .javascript{ 
	background: url(./img/icons8-javascript.svg) no-repeat;
	background-size: cover;
	position: relative;
	min-height: 120px;
	min-width: 120px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;

}

#skills .javascript-text{
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}


#skills .skills-item .javascript:hover::after { 
	position: absolute;
	content: '';
	border-radius: 50%;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 4px 8px #0000002c;
	animation: puls 2s ease infinite ; 
	animation-iteration-count: 1;
}

#skills .skills-item .nodejs{ 
	background: url(./img/icons8-nodejs.svg) no-repeat;
	background-size: cover;
	position: relative;
	min-height: 120px;
	min-width: 120px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

#skills .nodejs-text{
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

#skills .skills-item .nodejs:hover::after { 
	position: absolute;
	content: '';
	border-radius: 50%;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 4px 8px #0000002c;
	animation: puls 2s ease infinite ; 
	animation-iteration-count: 1;
}

#skills .skills-item .react{ 
	background: url(./img/icons8-react.svg) no-repeat;
	background-size: cover;
	position: relative;
	min-height: 120px;
	min-width: 120px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}
#skills .react-text{
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

#skills .skills-item .react:hover::after { 
	position: absolute;
	content: '';
	border-radius: 50%;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 4px 8px #0000002c;
	animation: puls 2s ease infinite ; 
	animation-iteration-count: 1;
}

#skills .skills-item .mongodb{ 
	background: url(./img/icons8-mongodb.svg) no-repeat;
	background-size: cover;
	position: relative;
	min-height: 120px;
	min-width: 120px;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

#skills .mongodb-text{
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

#skills .skills-item .mongodb:hover::after { 
	position: absolute;
	content: '';
	border-radius: 50%;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 4px 8px #0000002c;
	animation: puls 2s ease infinite ; 
	animation-iteration-count: 1;
}

/* End Services skills */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
	cursor: pointer;
}

#projects .projects .section-title{
	margin-top: -10px;
}

#projects .projects-header h1 {
	margin-bottom: 50px;
	margin-top: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%; 
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, var(--fifth-color) 0%, var(--sixth-color) 100%);
	color: var(--text-color2);
	letter-spacing: 0.15rem;
	border-radius: 10px;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
}
#projects .project-info h2 {
	font-size: 2rem;
	font-weight: 400;
	margin-top: 10px;
	color: var(--span-color)
}
#projects .project-info p {
	color: var(--text-color2);
	font-weight: 300;
}
#projects .project-img {
	flex-basis: 50%;
	overflow: hidden;
	position: relative;
	padding: 30px;
	transform: scale(1.1);
}


#projects .project-img img {
	transition: all .5s ease ;
}

#projects .project-item:hover .project-img img {
	transform: scale(1.1); 
}
/* End Projects section */

/* About Section */

.cta_about{
	display: inline-block; 
	padding: 10px 30px;
	color: var(--buttonTextMain-color);
	background-color: var(--buttonBGThird-color);
	opacity: 0.7;
	border: 1px solid #fff;
	border-radius: 10px;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: 20px;
	margin-bottom: 50px;
	transition: .7s ease;
	transition-property: background-color, color;
}
.cta_about:hover {
	color: var(--buttonTextMain-color);
	background-color:var(--buttonBGSecond-color);
	opacity: 1;
}

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 25px;
}

#about .about .section-title{
	margin-top: -75px;
}

#about .about h1{
	margin-bottom: 30px;
}

#about .col-left {
	width: 250px;
	height: 360px;
	margin-top: 70px;
	margin-bottom: 20px;
}
#about .col-right {
	width: 100%;
	margin-top: 70px;
}
#about .col-right h2 {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 30px;
}
#about .col-right p {
	margin-bottom: 20px;
	letter-spacing: 0.15rem;
}
#about .col-left .about-img {
	background-image: url(./img/linkedin.png);
	height: 100%;
	width: 100%; 
	position: relative;
	object-fit: scale-up;
	border: 10px solid white;
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */


/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 50px auto;
}


#contact .contact-items {
	width: 400px;
	margin-top: -20px;
}
#contact .contact-item {
	background-color: var(--BGcolor-0);
	opacity: 0.8;
	width: 60%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	margin-left:20%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact .section-title{
	margin-bottom: 40px;
}
#contact .contact-info h2 {
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 400;
	color: blue;
}
/*End contact Section */


/* contact Section-form img */
.contact-form-img {
	padding-top: 20px;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(./img/3.jpg);
	background-attachment: fixed;
	background-size: cover;
	object-fit: scale-down;
	opacity: 0.7 ;
	clip-path: polygon(0 7%, 150% 0, 100% 100%, 0 100%); 
	
}

/* End contact Section-form img */

/* Contact form */

.cta-form {
	outline: none;
	display: inline-block;
	width: 100%;
	padding: 10px 30px;
	color:var(--buttonTextMain-color);
	background-color: var(--buttonBGThird-color);
	border: var(--buttonBGThird-color);
	border-radius: 10px;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: 30px;
	transition: .6s ease;
	transition-property: background-color, color;

}

.cta-form:hover {
	border: var(--buttonBGSecond-color);
	background-color: var(--buttonBGSecond-color); 
	opacity: 1;
	cursor: pointer;
}

.cta-form .icon_send {
	height: 1.6rem;
	width: 1.6rem;
}

.contact-form {
	flex-direction: row;
	width: 100%;
	margin: 30px auto;
	margin-bottom: 20px;
	overflow-y: visible;
	position: relative;
	padding-bottom: 2.5rem;
}

.form {
	width: 400px;
	padding-bottom: 3.5rem;
	padding-top: 8rem;
	z-index: 1;
	margin-right: 10px;
	margin-left:10px;
}

.form__heading {
	font-size: 3rem;
	font-weight: 500;
	text-align: center;
	width: 100%;
	color:var(--text-color1);
	line-height: 5rem;
	padding: 1.5rem;
}
  
.form__field label {
	display: block;
	padding-top: 1.5rem;
}
  
.form__field input {
	font-family: 'Dosis', sans-serif;
	border: none;
	width: 100%;
	opacity: 0.8;
	padding: 1.5rem;
	box-shadow: 1px 1px 4px 1px #0000002c;
}


.form__field input:focus {
	outline: none;
	border: 1px solid var(--third-color);
	box-shadow: inset 2px 2px 4px 2px #0000002c;
}
  

.form__field input:not(:focus):invalid {
	color:var(--BGcolor-0);
	animation: headshake 200ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
} 

.form__field textarea {
	background-color: var(--BGcolor-0);
	opacity: 0.8;
	font-family: 'Dosis', sans-serif;
	border: none;
	width: 100%;
	box-shadow: 1px 1px 4px 1px #0000002c;
	outline: none;
	padding: 1.5rem;
	margin-bottom: 0.75rem;
}
  
.form__field textarea:focus {
	border: 1px solid var(--third-color);
	box-shadow: inset 2px 2px 4px 2px #0000002c;
}

.quote {
	width: 80%;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 16px;
	text-align: center;
	line-break: auto;
	letter-spacing: .2rem;
	word-spacing: .5rem;
	
}

.quote span {
	color: var(--span-color);
	text-transform: uppercase;
	animation: puls 2s ease-in infinite ; 
}


.msg {
	display: none;
}

.msgAppear {
	display: block;
	font-size: 2rem;
	text-decoration: underline;
	text-align: center;
	color: var(--text-color2);
	opacity: 0;
	animation: message_sent .8s ease forwards;
	word-spacing: 0.4rem;
	letter-spacing: .2rem;
}

.spinnerOff{
	display: none;
}

.spinner {
	margin: 10px auto 0;
	width: 70px;
	text-align: center;
}
  
.spinner > div {
	width: 18px;
	height: 18px;
	background-color: var(--spinner-color);
  
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
  
.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
  
.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}


/* End Contact Form */


/* Footer */
#footer {
	background-image: linear-gradient(60deg, var(--fifth-color) 0%, var(--sixth-color) 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: var(--text-color2);
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .2rem;
	margin-top: 10px;
	margin-bottom: 10px;
	word-spacing: .4rem;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(0);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(1);
}
#footer p {
	color:var(--textHover-color1);
	font-size: 1.3rem;
	text-align: center;

}
/* End Footer */

/* Keyframes */
@keyframes puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%; 
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: var(--text-color2);
	}
}
@keyframes text_reveal_name {
	100% {
		color: var(--text-color1);
		font-weight: 500;
	}
}

@keyframes headshake {
	25% {
	  transform: translateX(1%);
	}
	75% {
	  transform: translateX(-1%);
	}
}

@keyframes message_sent {
	100% {
	  opacity: 1;
	}
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}
  
@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 40% { 
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
}

@keyframes servicesFadeIn {
	0% {
		height: 0%;
		width:0%;
		top:50%;
		bottom: 50%;
		right: 50%;
		left:50%;
		opacity: 0.75;
		
	}
	100% {
		height: 100%;
		width:100%;
		top:0;
		bottom: 0;
		right: 0;
		left:0;
		opacity: 0.9;
	}
}

@keyframes servicesFadeOut {
	0% {
		height: 100%;
		width:100%;
		top:0;
		bottom: 0;
		right: 0;
		left:0;
		opacity: 0.9;
	}
	100% {
		height: 0%;
		width:0%;
		top:50%;
		bottom: 50%;
		right: 50%;
		left:50%;
		opacity: 0.75;
	}
}


@keyframes menuOpened {
	0% {
		transform: perspective(200px) rotateY(-90deg);
	}
	100% {
		transform: perspective(100px) rotateY(-5deg);
	}
}

@keyframes menuClosing {
	0% {
		transform: perspective(100px) rotateY(-5deg);
	}
	100% {
		transform: perspective(200px) rotateY(-90deg);
	}
}

@keyframes menuOpened_iPad {
	0% {
		transform: perspective(200px) rotateY(-90deg);
	}
	100% {
		transform: perspective(200px) rotateY(-5deg);
	}
}

@keyframes menuClosing_iPad {
	0% {
		transform: perspective(200px) rotateY(-5deg);
	}
	100% {
		transform: perspective(200px) rotateY(-90deg);
	}
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title h1.skills-title{
		font-size: 6rem;
	}

	#hero {
		background-position: 15% 90%;
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	}

	#hero h1 {
		font-size: 7rem;
	}

	#header .logo {
		min-height: 12vh;
		min-width: 20vh;
	}

	#header .clock {
		margin-top: 4px;
		font-size: 16px;
		color: var(--textHover-color1);
	}

	#header .nav-list ul a {
		font-size: 4.2rem;
	}

	#header .nav-list ul.active {
		left: 10%;
		animation: menuOpened_iPad 0.6s ease forwards;
	}
	
	#header .nav-list ul.close {
		left: 10%;
		animation: menuClosing_iPad 0.8s ease forwards;
	}


	#services .service-top {
		margin-top: 70px;
	}

	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%; 
	}

	.skillBG-img {
		clip-path: polygon(0 13.5%, 100% 0, 100% 87.5%, 0 100%);
		margin-top: 90px;
	}


	#skills .skills {

		clip-path: polygon(0 13.5%, 100% 0, 100% 87.5%, 0 100%);	
	}
	
	#skills .skills .section-title{
		margin-top: 45px;
	}

	 #skills .skills .skills-item{
		flex-basis: 23%; 
		margin: 5%;
		min-width: 120px;
		min-height: 120px;
	} 

	#projects .projects .section-title{
		margin-top: 70px;
	}

	#projects .project-item {
		flex-direction: row;
		height: 300px;
		margin: 0 auto;
		width: 90%;
		border-radius: 10px;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}

	#projects .all-projects .project-info {
		height: 100%;
		border-radius: 0;
	}
 	#projects .all-projects .project-img {
		/* height: 100%; */
		padding:46px;
	}

	#about .about {
		flex-direction: row;
	}

	#about .about .section-title{
		margin-top: 20px;
	}

	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}

	#about .col-left .about-img {
		width: 80%; 
	}

	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}

	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}

	#contact .contact .section-title{
		margin-top: 50px;
	}

	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: column;
	}

	#contact .contact-item .icon {
		height: 80px;
		width: 80px;
		margin: 5px auto;
	}
	#contact .contact-item .icon img {
		object-fit: contain; 
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		text-align: center;
		padding: 5px;
	}

	.quote {
		font-size: 18px;
		
	}

	.contact-form-img {
		clip-path: polygon(0 10%, 130% 0, 100% 100%, 0 100%); 
		padding-top: 60px;
	}
	
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {


	#hero {
		clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
	}

	#header .hamburger { 
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
		margin: auto;
		animation: none;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul a:after {
		display: none;
	}

	#header .nav-list ul.active {
		animation: none;
	}
	#header .nav-list ul.close {
		animation: none;
	}

	#services .service-bottom .service-item {
		flex-basis: 24%; 
		margin: 1.5%;
	}

	#about .col-left .about-img {
		width: 80%; 
	}

	.skillBG-img {
		clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
	}

	#skills .skills {

		clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);	
	}

	#skills .skills .section-title{
		margin-top: 0px;
	}

	#projects .all-projects .project-img {
		padding:55px;
	}

	.contact-form-img {
		clip-path: polygon(0 10%, 130% 0, 100% 100%, 0 100%); 
		padding-top: 60px;
	}

	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}


}
/* End  Media Query For Desktop */
